body {
  margin: 0;
  padding: 0;
  width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

html,
.container {
  width: 1200px;
  background-color: #f2f2f2;
  margin: 0 auto;
  text-align: center;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*index.html*/

.site-navigation,
.feature-list,
.advantage-items,
.footer-social,
.sorting-hotel,
.infrastructure-hotel,
.type-of-housing {
  list-style: none;
  padding: 0;
}

.site-navigation a {
  color: #000000;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active {
  color: #766357;
  line-height: 24px;
  font-size: 16px;
}

.main-navigation {
  background-color: white;
  width: 100%;
}

.homepage {
  background-image: url("../img/background-photo.png");
  background-position: top;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 1200px 773px;
}

.intro-welcome svg {
  width: 459px;
  text-align: center;
}
button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #ffffff;
}

.main-intro {
  background-color: white;
}
.advantage-of-city:nth-of-type(1) {
  background-color: #81b3d2;
}
.advantage-section {
  background-color: #eeeeee;
}
.button-hotel-searching {
  width: 568px;
  height: 86px;
  background-color: #766357;
  color: white;
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
}

.button-hotel-searching:hover {
  background-color: #604e43;
}

.button-hotel-searching:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: white;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
}

.search:hover {
  background-color: #669ec0;
}

.search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
iframe {
  width: 100%;
}
.footer-social li {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
/*inner.html*/

.booking-page {
  background-image: url("../img/filter-background.png");
  background-color: white;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 1200px 562px;
}

.sorting-hotel a {
  color: rgba(0, 0, 0, 0.3)
}

.sorting-hotel a:hover,
.sorting-hotel .active {
  color: #81b3d2;
}

.sorting-hotel a:focus {
  color: #000000;
}
.up-button {
  fill: #cacaca;
}
.up-button svg:hover,
.down-button svg:hover  {
  fill: #000000;
}

.up-button svg:active ,
.down-button svg:active {
  fill: #81b3d2;
}

.down-button .active {
  fill: #81b3d2;
}

.logo-htmlacademy:hover {
  fill: #81b3d2;
}

.logo-htmlacademy:active {
  fill: #bdbbbc;
}

.searching-results .hotel-option {
  color: black;
  font-size: 21px;
  line-height: 26px;
  text-align: left;
}

.searching-results .hotel-option:hover {
  color: #81b3d2;
}

.searching-results h3 a:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn-details {
  color: white;
  background-color: #81b3d2;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  padding: 10px;
}

.btn-details:hover {
  background-color: #669ec0;
}

.btn-details:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn-booking {
  color: white;
  background-color: #766357;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 15px;
}

.btn-booking:hover {
  background-color: #604e43;
}

.btn-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

