
body {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.homepage,
.booking-page {
  background-color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  text-align: center;

  position: relative;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*index.html*/

.site-navigation,
.feature-list,
.advantage-items,
.sorting-hotel,
.filter-by-type ul {
  list-style: none;
  padding: 0;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #ffffff;
  padding: 15px 72px;
}

.menu-item {
  width: 239px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.menu-item.left:nth-of-type(2) {
  margin-right: 48px;
}

.menu-item.right:nth-of-type(3) {
  margin-left: 46px;
}

.site-navigation .active {
  color: #766357;
}

.site-navigation a {
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1px;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}


.main-navigation {
  background-color: white;
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.intro-welcome {
  background-image: url("../img/background-photo.png");
  background-position: 0 -83px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 510px;
}

.intro-welcome svg {
  width: 458px;
  height: 352px;
  margin-top: 77px;
}

.main-intro::before {
  content: "";
  background-image: url("../img/icons/intro-mask.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 59px;
  position: absolute;
  top: -112px;
  left: -55px;
}

.button-hotel-searching,
.search,
.icon-calendar,
.btn-show {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #ffffff;
}

.main-intro {
  background-color: white;
  margin: 55px;
  letter-spacing: 0.1px;
  position: relative;
}

.main-intro h3 {
  font-size: 21px;
  line-height: 28px;
  width: 600px;
  margin: 0 auto 29px;
}

.intro-about-city {
  display: flex;
  align-items: flex-start;
  background-color: #81b3d2;
}

.about-city-main {
  flex-flow: row-reverse;
}

.advantage-of-city {
  background-color: #81b3d2;
  width: 400px;
  color: #ffffff;
  padding: 47px 60px 43px;
  box-sizing: border-box;
  min-height: 256px;
}

.advantage-of-city h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0 35px;
}

.advantage-of-city p {
  margin-top: 23px;
}

.advantage-of-city.about-city {
  padding: 47px 48px 43px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.feature-list li {
  width: 400px;
  padding: 0 50px;
  display: block;
  box-sizing: border-box;
}

.feature-items h3 {
  position: relative;
  padding-top: 29px;
  margin: 131px 25px 25px;
}

.feature-item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  top: -71px;
  left: 50%;
}

.feature-items .housing::before {
  background-image: url("../img/icons/icon-1.svg");
  transform: translateX(-50%);
}

.feature-items .food::before {
  background-image: url("../img/icons/icon-3.svg");
  transform: translateX(-50%);
}

.feature-items .souvenir::before {
  background-image: url("../img/icons/icon-2.svg");
  margin-left: -32px;
  top: -76px;
  height: 78px;
}

.feature-items p {
  margin-bottom: 82px;
}

.feature-items h3,
.advantages h3 {
  font-size: 21px;
  line-height: 21px;
}

.advantage-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  min-height: 256px;
}

.advantage-items li {
  width: 400px;
  padding: 46px 55px;
  box-sizing: border-box;
}

.advantage-items h3 {
  margin: 0 65px;
}

.advantages p {
  margin: 23px 12px 0;
  letter-spacing: 0.1px;
}

.advantages .grand-canyon {
  margin: 23px 15px 0;
}

.advantage-section {
  background-color: #eeeeee;
}

.booking-hotel {
  position: relative;
}

.search-suggestion {
  width: 435px;
  margin: 0 auto 10px;
  padding: 24px;
}

.search-suggestion h2 {
  font-size: 30px;
  line-height: 36px;
}

.search-suggestion p {
  line-height: 24px;
}

.button-hotel-searching {
  width: 568px;
  min-height: 85px;
  background-color: #766357;
  color: white;
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
  cursor: pointer;
}

.button-hotel-searching:hover {
  background-color: #604e43;
}

.button-hotel-searching:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search {
  width: 100%;
  min-height: 58px;
  background-color: #81b3d2;
  color: white;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 21px;
  cursor: pointer;
}

.search:hover {
  background-color: #669ec0;
}

.search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.search-form {
  position: absolute;
  background-color: #ffffff;
  width: 568px;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: top left;
  min-height: 395px;
  margin: 0;
  padding: 0;
}

.search-information {
  width: 458px;
  margin: 57px auto;
  display: block;
}

.modal-close {
 display: none;
}

.modal-shown {
  display: block;
  animation-name: shown;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes shown {
  0% {
    transform: scaleY(0) translateX(-50%);

  }

  50% {
  }

  100% {
    transform: scaleY(1) translateX(-50%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-49%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-51%);
  }
}

.modal-error {
  animation: shake 0.6s;
}

.search-items {
  font-weight: bold;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 31px 0;
  align-items: center;
  position: relative;
}

.search-items label {
  letter-spacing: 0.2px;
}

.search-items input[type="text"]::-webkit-input-placeholder {
  color: #000000;
}

.search-items input[type="text"]::-moz-placeholder {
  color: #000000;
}

.search-items input[type="text"]:-ms-input-placeholder {
  color: #000000;
}

.search-items input[type="text"]::-ms-input-placeholder {
  color: #000000;
}

.search-items input[type="text"]::placeholder {
  color: #000000;
}

.search-form input {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  box-sizing: border-box;
  width: 346px;
  max-width: 346px;
  padding: 3px 10px;
  height: 36px;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: 2px solid #f2f2f2;
}

.icon-calendar {
  position: absolute;
  top: 5px;
  left: 428px;
  fill: #a9a9a9;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.icon-calendar:hover {
  fill: #000000;
}

.icon-calendar:active {
  fill: #81b3d2;
  outline: none;
}

.icon-calendar:focus {
  outline: none;
}

.number-of-pax {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
}

.number-of-pax input {
  width: 38px;
  max-width: 38px;
  height: 38px;
  text-align: center;
}

.number-of-pax label {
  margin-right: 40px;
}

.number-of-pax.right label {
  margin-right: 25px;
}

.number-of-pax .minus,
.number-of-pax .plus {
  font-size: 24px;
  color: #a9a9a9;
  cursor: pointer;
}

.number-of-pax .minus:hover,
.number-of-pax .plus:hover {
  color: #000000;
  background-color: #f2f2f2;
}

.number-of-pax .minus:active,
.number-of-pax .plus:active {
  color: #81b3d2;
  background-color: #f2f2f2;
  outline: none;
}

.map {
  background-image: url("../img/map.png");
}

.main-footer {
  display: flex;
  width: 1200px;
  height: 120px;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.9);
  align-items: center;
}

.main-footer.homepage {
  position: absolute;
  bottom: 0;
}

.visitsedona {
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}

.footer-item {
  width: 400px;
  justify-content: center;
}

.social-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  width: 400px;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button svg:active {
  fill-opacity: 0.3;
}

.htmlacademy {
  display: flex;
  align-items: center;
}

.htmlacademy span {
  line-height: 26px;
  margin-right: 10px;
}

/*inner.html*/

.filter-hotel {
  background-image: url("../img/filter-background.png");
  background-color: #81b3d2;
  background-position: 0 -294px;
  background-repeat: no-repeat;
  color: #ffffff;
}

.container-box {
  display: flex;
  justify-content: space-between;
  padding: 27px 72px 32px;
  min-height: 158px;
  text-align: left;
}

.type-filter-hotel {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-by-type ul {
  margin: 0;
  padding: 0;
}

.filter.filter-by-type {
  padding: 0;
  margin: 0 117px 0 0;
}

.filter-option {
  margin-top: 25px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;
  display: block;
}

.filter-input:not(:checked) + label::before {
  content: "";
  position: absolute;

  background-image: url("../img/icons/checkbox-off.svg");
  background-size: cover;
  width: 23px;
  height: 23px;
  left: -40px;
}

.filter-input:checked + label::after {
  content: "";
  position: absolute;

  background-image: url("../img/icons/checkbox-on.svg");
  background-size: cover;
  width: 27px;
  height: 23px;
  left: -40px;
}

.filter-input:disabled + label::before {
  content: "";
  position: absolute;

  background-image: url("../img/icons/checkbox-off-3.svg");
  background-size: cover;
  width: 23px;
  height: 23px;
  left: -40px;
}

.filter-input:disabled:checked + label::after {
  content: "";
  position: absolute;

  background-image: url("../img/icons/checkbox-on-2.svg");
  background-size: cover;
  width: 27px;
  height: 23px;
  left: -40px;
}

.filter-input:focus + label {
  box-shadow: 0 0 1px rgb(144, 186, 254);
}

.filter-hotel legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1px;
}

.price-panel {
  display: block;
  text-align: left;

  width: 318px;
}


.filter-range-title {
  margin-bottom: 10px;
}

.price-controls {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: relative;

  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  height: 38px;
}

.price-controls input {
  border: none;
  background: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  width: 50px;
  margin: 0;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 33px;
  line-height: 24px;
  margin-top: 5px;
  cursor: pointer;
}

.price-controls .min-price {
  padding-left: 53px;
}

.price-controls::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 2px;
  height: 22px;
  top: 6px;
  left: 50%;
}

.range-controls {
  position: relative;
  margin: 19px 0 31px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  height: 2px;
  background-color: #ffffff;
  width: 80%;
}

.range-toggle {
  position: absolute;
  background-image: url("../img/icons/filter-button.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 22px;
  top: -10px;
  cursor: pointer;
}

.range-toggle:hover {
  width: 22px;
  height: 24px;
  background-size: contain;
}

.toggle-max {
  left: 80%;
}

.toggle-min {
  left: 0;
}

.btn-show {
  display: block;
  margin: 0 86px;
  padding: 6px 0;
  background: none;
  font-size: inherit;
  color: inherit;
  border: 2px solid #ffffff;
  width: 136px;
  cursor: pointer;
}

.btn-show:hover {
  background-color: #ffffff;
  color: #000;
}

.sorting {
  display: flex;
  justify-content: space-between;
  padding: 20px 72px;
}

.type-sorting-hotel {
  display: flex;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  width: 50%;
}

.sorting-results {
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  margin: 0 47px 0 0;
}

.sorting-item {
  margin: 0 40px 0 0;
  font-size: 12px;
  line-height: 18px;
}

.sorting-hotel {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.sorting-hotel a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-hotel a:hover {
  color: #81b3d2;
}

.sorting-hotel .active {
  color: #81b3d2;
  border: none;
}

.sorting-hotel a:active {
  color: #000000;
}

.updown-buttons {
  margin: 13px 0;
}

.up-button {
  fill: #cacaca;
  margin-right: 9px;
}

.up-button svg:hover,
.down-button svg:hover {
  fill: #000000;
}

.up-button svg:active,
.down-button svg:active {
  fill: #81b3d2;
}

.down-button .active {
  fill: #81b3d2;
}

.searching-results {
  text-align: left;
}


.rating-stars {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
}

.star {
  list-style: none;
  margin-left: 6px;
}

.logo-htmlacademy:hover {
  fill: #81b3d2;
}

.logo-htmlacademy:active {
  fill: #bdbbbc;
}

.searching-results .hotel-name {
  display: block;
  width: 500px;
  color: black;
  font-size: 21px;
  line-height: 17px;
  text-align: left;
  letter-spacing: 0.2px;
}

.searching-results .hotel-name:hover {
  color: #81b3d2;
}

.searching-results .hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-option {
  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
  padding: 28px 72px 26px;
  display: flex;
  justify-content: space-between;
}

div.hotel-option:first-of-type {
  border-top: 1px solid rgba(0, 1, 1, 0.2);
}

.hotel-info {
  padding: 0;
  margin: 0 0 0 30px;
}

.hotel-items {
  display: flex;
  justify-content: space-between;
  width: 258px;
}

.hotel-info h3 {
  margin: 0 0 9px;
}

.hotel-items p {
  display: block;
  margin: 4px 0 14px;

}

.hotel-details {
  display: flex;
}

.hotel-button {
  padding: 3px 17px;
  display: block;
}

.btn-details {
  color: white;
  background-color: #81b3d2;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.btn-details:hover {
  background-color: #669ec0;
}

.btn-details:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn-booking {
  color: white;
  background-color: #766357;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.btn-booking:hover {
  background-color: #604e43;
}

.btn-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating-of-hotel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating-of-hotel span {
  background-color: #f2f2f2;
  padding: 4px 13px;
  margin-bottom: 3px;
}
